{% extends 'html/layouts/master.twig' %}

{% block content %}
		
    <section class="blog-section mt--150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <article class="mb-40-none">
                        <div class="post-item style-two">
                            <div class="post-thumb">
                                <a href="#"><img src="/assets/images/blog/blog1.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="title">
                                    <a href="#">Do You Need to Know Everything
                                        About Hybrid App Development? </a>
                                </h3>
                                <p>Hybrid mobile applications are like any other applications you will see 
                                    on your mobile.</p>
                                <a href="#" class="read">3 min Read</a>
                            </div>
                        </div>
                        <div class="post-item style-two">
                            <div class="post-thumb">
                                <a href="#"><img src="/assets/images/blog/blog2.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="title">
                                    <a href="#">7 Tips to Choose the Mobile App 
                                        Development Company </a>
                                </h3>
                                <p>Hybrid mobile applications are like any other applications you will see 
                                    on your mobile.</p>
                                <a href="#" class="read">3 min Read</a>
                            </div>
                        </div>
                        <div class="post-item style-two">
                            <div class="post-thumb">
                                <a href="#"><img src="/assets/images/blog/blog3.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="title">
                                    <a href="#">10 Key Steps to Turn Your Mobile 
                                        App Idea Into Reality</a>
                                </h3>
                                <p>Hybrid mobile applications are like any other applications you will see 
                                    on your mobile.</p>
                                <a href="#" class="read">3 min Read</a>
                            </div>
                        </div>
                        <div class="post-item style-two">
                            <div class="post-thumb">
                                <a href="#"><img src="/assets/images/blog/blog4.jpg" alt="blog"></a>
                            </div>
                            <div class="post-content">
                                <h3 class="title">
                                    <a href="#">The Most Comprehensive Mobile 
                                        App Prototyping Guide</a>
                                </h3>
                                <p>Hybrid mobile applications are like any other applications you will see 
                                    on your mobile.</p>
                                <a href="#" class="read">3 min Read</a>
                            </div>
                        </div>
                    </article>
                    <div class="pagination-area text-center pt-50 pb-50 pb-lg-0">
                        <a href="#0"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                        <a href="#0">1</a>
                        <a href="#0">2</a>
                        <a href="#0" class="active">3</a>
                        <a href="#0">4</a>
                        <a href="#0">5</a>
                        <a href="#0"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <aside class="sticky-menu">
                        <div class="widget widget-search">
                            <h5 class="title">search</h5>
                            <form class="search-form">
                                <input type="text" placeholder="Enter your Search Content" required>
                                <button type="submit"><i class="flaticon-loupe"></i>Search</button>
                            </form>
                        </div>
                        <div class="widget widget-post">
                            <h5 class="title">latest post</h5>
                            <div class="slider-nav">
                                <span class="widget-prev"><i class="fas fa-angle-left"></i></span>
                                <span class="widget-next active"><i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="widget-slider owl-carousel owl-theme">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="/assets/images/blog/slider01.png" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="p-title">
                                            <a href="#0">Fun and Practical Tablet 
                                                Apps for Seniors</a>
                                        </h6>
                                        <div class="meta-post">
                                            <a href="#0" class="mr-4"><i class="flaticon-chat-1"></i>20 Comments</a>
                                            <a href="#0"><i class="flaticon-eye"></i>466 View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="/assets/images/blog/slider01.png" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="p-title">
                                            <a href="#0">Fun and Practical Tablet 
                                                Apps for Seniors</a>
                                        </h6>
                                        <div class="meta-post">
                                            <a href="#0" class="mr-4"><i class="flaticon-chat-1"></i>20 Comments</a>
                                            <a href="#0"><i class="flaticon-eye"></i>466 View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-follow">
                            <h5 class="title">Follow Us</h5>
                            <ul class="social-icons">
                                <li>
                                    <a href="#0" class="">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="active">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-categories">
                            <h5 class="title">categories</h5>
                            <ul>
                                <li>
                                    <a href="#0">
                                        <span>Apps Feature</span><span>50</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Technology</span><span>43</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Marketing </span><span>34</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Inspiration</span><span>63</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Apple Store  </span><span>11</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Branding</span><span>30</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Lifestyle </span><span>55</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-tags">
                            <h5 class="title">featured tags</h5>
                            <ul>
                                <li>
                                    <a href="#0">IOS APPS</a>
                                </li>
                                <li>
                                    <a href="#0">SOFTWARE</a>
                                </li>
                                <li>
                                    <a href="#0">APPS
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">ANDROID</a>
                                </li>
                                <li>
                                    <a href="#0" class="active">UX DESIGN</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
	
{% endblock %}