{% extends 'html/layouts/master.twig' %}
	
{% block content %}
						
    <section class="blog-single mt--150">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-70 mb-lg-0">
                    <article>
                        <div class="post-details">
                            <div class="post-inner">
                                <div class="post-header">
                                    <div class="meta-post">
                                        <a href="#0" class="read">2 days ago</a>
                                        <a href="#0" class="read">3 min read</a>
                                    </div>
                                    <h3 class="title">
                                        10 Key Steps to Turn Your Mobile App Idea Into Reality
                                    </h3>
                                </div>
                                <div class="post-content">
                                    <div class="entry-meta">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="/assets/images/blog/author.png" alt="blog">
                                            </a>
                                        </div>
                                        <a href="#0" class="comment">
                                            <i class="flaticon-chat-1"></i>
                                            <span>30</span>
                                        </a>
                                        <a href="#0" class="comment">
                                            <i class="flaticon-share"></i>
                                            <span>22</span>
                                        </a>
                                    </div>
                                    <div class="entry-content">
                                        <p>Hybrid mobile applications are like any other applications you will see on your mobile. They get easily installed on your mobile device. You can look for these apps in the App stores. By using these apps, you can engage your friends via social media, play games, track your health, take photos and much more.</p>
                                        <p>Hybrid mobile applications are developed using a combination of web technologies like CSS, HTML, and JS as same as websites on the internet. The major difference is that hybrid applications are hosted inside a native app which further uses a mobile platform's WebView. Here, WebView is a chromeless browser window which is typically configured to run fullscreen.</p>
                                        <img src="/assets/images/blog/blog6.jpg" alt="blog">
                                        <p>Unless you are the one who really cares about this, it is not terribly important. What all matters are how your hybrid mobile application development is going to work in the long run as no one will care about how it was built. A hybrid mobile application is said to be good if it performs well for its users.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tags-area">
                                <div class="tags">
                                    <span>
                                        Tags : 
                                    </span>
                                    <div class="tags-item">
                                        <a href="#0"> Tickets </a>
                                        <a href="#0"> Coming Soon </a>
                                        <a href="#0"> Movies </a>
                                    </div>
                                </div>
                                <ul class="social-icons">
                                    <li>
                                        <a href="#0">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0" class="active">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#0">
                                            <i class="fab fa-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-comment">
                            <h5 class="title">comments</h5>
                            <ul class="comment-area">
                                <li>
                                    <div class="blog-item">
                                        <div class="blog-thumb">
                                            <a href="#0">
                                                <img src="/assets/images/blog/author2.png" alt="blog">
                                            </a>
                                        </div>
                                        <div class="blog-thumb-info">
                                            <span>13 days ago</span>
                                            <h6 class="title"><a href="#0">carl morgan</a></h6>
                                        </div>
                                        <div class="blog-content">
                                            <p>
                                                Maecenas at velit eu erat egestas vestibulum id ut tellus. Sed et semper mauris. Quisque eu lorem libero. Donec finibus metus tellus, eget rutrum est mattis non.
                                            </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="blog-item">
                                                <div class="blog-thumb">
                                                    <a href="#0">
                                                        <img src="/assets/images/blog/author1.png" alt="blog">
                                                    </a>
                                                </div>
                                                <div class="blog-thumb-info">
                                                    <span>13 days ago</span>
                                                    <h6 class="title"><a href="#0">john flores</a></h6>
                                                </div>
                                                <div class="blog-content">
                                                    <p>
                                                        Maecenas at velit eu erat egestas vestibulum id ut tellus. Sed et semper mauris. Quisque eu lorem libero. Donec finibus metus tellus, eget rutrum est mattis non.
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="blog-item">
                                        <div class="blog-thumb">
                                            <a href="#0">
                                                <img src="/assets/images/blog/author3.png" alt="blog">
                                            </a>
                                        </div>
                                        <div class="blog-thumb-info">
                                            <span>13 days ago</span>
                                            <h6 class="title"><a href="#0">carl morgan</a></h6>
                                        </div>
                                        <div class="blog-content">
                                            <p>
                                                Maecenas at velit eu erat egestas vestibulum id ut tellus. Sed et semper mauris. Quisque eu lorem libero. Donec finibus metus tellus, eget rutrum est mattis non.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="leave-comment">
                                <h5 class="title">leave comment</h5>
                                <form class="blog-form">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Your Full Name" required name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Your Email Address" required name="email">
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Write A Message" required name="message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit Now">
                                    </div>
                                </form>
                            </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <aside class="sticky-menu">
                        <div class="widget widget-search">
                            <h5 class="title">search</h5>
                            <form class="search-form">
                                <input type="text" placeholder="Enter your Search Content" required>
                                <button type="submit"><i class="flaticon-loupe"></i>Search</button>
                            </form>
                        </div>
                        <div class="widget widget-post">
                            <h5 class="title">latest post</h5>
                            <div class="slider-nav">
                                <span class="widget-prev"><i class="fas fa-angle-left"></i></span>
                                <span class="widget-next active"><i class="fas fa-angle-right"></i></span>
                            </div>
                            <div class="widget-slider owl-carousel owl-theme">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="/assets/images/blog/slider01.png" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="p-title">
                                            <a href="#0">Fun and Practical Tablet 
                                                Apps for Seniors</a>
                                        </h6>
                                        <div class="meta-post">
                                            <a href="#0" class="mr-4"><i class="flaticon-chat-1"></i>20 Comments</a>
                                            <a href="#0"><i class="flaticon-eye"></i>466 View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#0">
                                            <img src="/assets/images/blog/slider01.png" alt="blog">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h6 class="p-title">
                                            <a href="#0">Fun and Practical Tablet 
                                                Apps for Seniors</a>
                                        </h6>
                                        <div class="meta-post">
                                            <a href="#0" class="mr-4"><i class="flaticon-chat-1"></i>20 Comments</a>
                                            <a href="#0"><i class="flaticon-eye"></i>466 View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-follow">
                            <h5 class="title">Follow Us</h5>
                            <ul class="social-icons">
                                <li>
                                    <a href="#0" class="">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="active">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-google"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-categories">
                            <h5 class="title">categories</h5>
                            <ul>
                                <li>
                                    <a href="#0">
                                        <span>Apps Feature</span><span>50</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Technology</span><span>43</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Marketing </span><span>34</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Inspiration</span><span>63</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Apple Store  </span><span>11</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Branding</span><span>30</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Lifestyle </span><span>55</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-tags">
                            <h5 class="title">featured tags</h5>
                            <ul>
                                <li>
                                    <a href="#0">IOS APPS</a>
                                </li>
                                <li>
                                    <a href="#0">SOFTWARE</a>
                                </li>
                                <li>
                                    <a href="#0">APPS
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">ANDROID</a>
                                </li>
                                <li>
                                    <a href="#0" class="active">UX DESIGN</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
	
{% endblock %}