{% extends 'html/layouts/auth.twig' %}
	
{% block auth %}
					
            <div class="account-wrapper">
                <div class="account-header">
                    <h4 class="title">Let's get started</h4>
                    <a href="#0" class="sign-in-with"><img src="/assets/images/icon/google.png" alt="icon"><span>Sign Up with Google</span></a>
                </div>
                <div class="or">
                    <span>OR</span>
                </div>
                <div class="account-body">
                    <span class="d-block mb-20">Sign up with your work email</span>
                    <form class="account-form">
                        <div class="form-group">
                            <label for="sign-up">Your Email </label>
                            <input type="text" placeholder="Enter Your Email " id="sign-up">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit">Try It Now</button>
                            <span class="d-block mt-15">Already have an account? <a href="#">Sign In</a></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="sponsor-slider-wrapper cl-white text-center mt-40">
                <h5 class="slider-heading mb-3">Used by over 1,000,000 people worldwide</h5>
                <div class="sponsor-slider-4 owl-theme owl-carousel">
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor1.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor2.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor3.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor4.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor5.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor6.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor7.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor1.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor2.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor3.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor4.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor5.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor6.png" alt="sponsor">
                    </div>
                    <div class="sponsor-thumb">
                        <img src="/assets/images/sponsor/sponsor7.png" alt="sponsor">
                    </div>
                </div>
            </div>

{% endblock %}