{% extends 'html/layouts/master.twig' %}
	
{% block banner %}
	
    <!--============= Banner Section Starts Here =============-->
	
    <section class="banner-section">
        <div class="banner-bg bg_img" data-background="/assets/images/banner/banner-bg.jpg">
            <div class="banner-bg-shape"><img src="/assets/images/banner/banner-shape.png" alt="banner"></div>
            <div class="round-1">
                <img src="/assets/images/banner/01.png" alt="banner">
            </div>
            <div class="round-2">
                <img src="/assets/images/banner/02.png" alt="banner">
            </div>
        </div>
        <div class="container">
            <div class="banner-content">
                <h3 class="cate">GENERATE BEAUTIFUL HYPERLINKS</h3>
                <h1 class="title">FROM ANY URL</h1>
                <p>Transform your long urls into short hyperlinks to share with others,<br>login to track the amount of visits each of your links has.</p>
            </div>
            <div class="banner-form-group">
                <h3 class="subtitle">Shortening URLs is Simple:</h3>
                <form class="banner-form">
                    <input type="text" placeholder="https://example.com" name="url" required>
                    <button type="submit">Shorten <i class="flaticon-startup"></i></button>
                </form>
                <div class="banner-counter">
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{ users_count }}</span></h2>
                        <p>Users Registered</p>
                    </div>
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{ links_count }}</span></h2>
                        <p>Links Shortened</p>
                    </div>
                    <div class="counter-item">
                        <h2 class="counter-title"><span class="counter">{{ clicks_count }}</span></h2>
                        <p>Links Clicked</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
    <!--============= Banner Section Ends Here =============-->

{% endblock %}
	
{% block content %}
					
	<!-- Content -->

{% endblock %}