{% extends 'html/layouts/master.twig' %}
	
{% block header %}
	
    <!--============= Page Header Section Starts Here =============-->
	
    <section class="page-header">
        <div class="banner-bg bg_img" data-background="/assets/images/banner/banner-bg.jpg">
            <div class="banner-bg-shape"><img src="/assets/images/banner/banner-shape.png" alt="banner"></div>
            <div class="round-1">
                <img src="/assets/images/banner/01.png" alt="banner">
            </div>
            <div class="round-2">
                <img src="/assets/images/banner/02.png" alt="banner">
            </div>
        </div>
        <div class="container">
            <div class="hero-content">
                <h1 class="title">{{ title }}</h1>
            </div>
        </div>
    </section>
	
    <!--============= Page Header Section Ends Here =============-->

{% endblock %}
	
{% block content %}
					
	<!-- Content -->

{% endblock %}